<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VBZooManager.MySettings.MyZooManagerConnectionString"
            connectionString="Data Source=DESKTOP-4KJ55O5;Initial Catalog=MyZooManager;User ID=sa;Password=<use your password>"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>